/*Animate angle-double-down*/
@-webkit-keyframes angle-double-down {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
}
@keyframes angle-double-down {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
}

/*Animate animation-status*/
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

/*Animate animation-status-top */
@-webkit-keyframes spinner-backwards {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg)
    }
}
@keyframes spinner-backwards {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg)
    }
}