:root {
    --white: #FFF;
    --light-white: #dedede;
    --form: #eee;
    --black: #000;
    --even-sections: #f9f9f9;
    --main-color: #C30000;
    --shadow-main-color: #900000
}

::selection {
    background: rgba(166,175,189,.3)
}

::-moz-selection {
    background: rgba(166,175,189,.3)
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',sans-serif;
    line-height: normal;
    overflow: hidden
}

.scrollbar-show {
    overflow: visible
}

a,a:hover {
    text-decoration: none;
    color: var(--white)
}

.collapse:not(.show) {
    display: none
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container-fluid {
    padding: 0
}

.row {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#cnt-portfolio-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

#cnt-portfolio,#cnt-portfolio-wrapper,#header-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#header-portfolio {
    height: 100vh;
    background-color: #282828;
    color: var(--white);
    position: relative
}

#header-portfolio img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: contrast(120%) grayscale(100%);
    filter: contrast(120%) grayscale(100%)
}

.shadow-img-portfolio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6)
}

#contact-portfolio-wrapper .shadow-img-portfolio {
    background: rgba(0,0,0,.8)
}

.nav-items a,figure .shadow-img-portfolio {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

figure .shadow-img-portfolio {
    background: 0 0
}

#button-main-portfolio a,#header-portfolio-wrapper {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#header-portfolio-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 25px;
    z-index: 10001;
    left: 0;
    top: 0
}

#header-portfolio-wrapper .container {
    padding: 0
}

#header-portfolio-wrapper,#wrapper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#logo-name-portfolio {
    font-size: 28px;
    padding: 10px
}

.nav-items {
    text-transform: uppercase;
    font-size: 14px
}

.nav-items a {
    padding: 10px 15px;
    margin: 5px 10px;
    display: block
}

#about,#contact,#logo-name-portfolio,#services,#works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#contact,#services {
    background-color: var(--even-sections)
}

#contact,#header-portfolio-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#contact {
    position: relative;
    overflow: hidden
}

#photo-about img,.full-space {
    width: 100%
}

#header-portfolio-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
    font-family: 'Nunito Sans',sans-serif
}

#header-main-subtitle,#header-main-title {
    font-size: 30px;
    color: var(--main-color);
    font-weight: 400;
    text-align: center;
    line-height: 1.5
}

#header-main-title {
    font-size: 38px;
    letter-spacing: -1.59px;
    color: var(--white)
}

#header-main-title span {
    font-weight: 700
}

#button-main-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#button-main-portfolio a {
    border: 1px solid var(--main-color);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 12px 20px;
    margin-top: 20px;
    text-transform: uppercase
}

#button-main-portfolio a:hover {
    background: var(--shadow-main-color);
    border: 1px solid var(--shadow-main-color);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#header-main-arrow {
    margin-top: 50px;
    font-size: 28px;
    cursor: pointer;
    padding-bottom: 10px
}

.icon-angle-double-down {
    -webkit-animation: angle-double-down 2s infinite ease-out;
    animation: angle-double-down 2s infinite ease-out;
    display: block
}

#about-portfolio,#services-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0
}

#services-portfolio {
    margin: 100px 0
}

#works-portfolio {
    padding: 0
}

#contact-portfolio,#works-portfolio,#works-portfolio-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#contact-portfolio {
    padding: 0
}

#about-portfolio,#contact-portfolio {
    margin: 100px 50px
}

#works-portfolio {
    margin: 100px 0 0
}

#works-portfolio-second {
    padding: 0 10px;
    margin: 0 0 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1900px
}

#cnt-about-portfolio {
    margin-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#cnt-about-skills .row,.no-margin {
    margin: 0
}

#cnt-about-portfolio,#cnt-main-about,#photo-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#about-info-portfolio,#cnt-about-skills,#cnt-main-about,#photo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#cnt-about-skills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

#cnt-main-about {
    position: relative;
    padding: 0
}

#photo-about {
    z-index: 5;
    position: relative
}

#transparent-photo-about {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    border: 7px solid rgba(0,0,0,.05);
    background: 0 0;
    z-index: 1
}

#description-about-portfolio,.menu-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#description-about-portfolio {
    padding: 0;
    margin-top: 70px
}

#social-media-about-portfolio,#social-media-contact-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px
}

#titile-about {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4
}

#titile-about,#title-contact,#title-services,#title-works {
    font-family: 'Josefin Sans',sans-serif;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#title-services {
    font-weight: 500;
    font-size: 30px
}

#title-contact,#title-works {
    margin-bottom: 30px;
    padding-bottom: 20px
}

#title-works {
    font-weight: 500;
    font-size: 30px
}

#title-contact {
    border-bottom: 1px solid #f4f4f4
}

#title-services,#title-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0
}

#title-services {
    margin-bottom: 20px;
    padding-bottom: 0
}

#titile-about::after,#title-contact::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background: var(--main-color);
    height: 1px;
    width: 70px
}

#title-contact {
    font-size: 38px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid var(--light-white)
}

#title-services h2,#title-works h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700
}

#title-works h2 {
    margin-bottom: 0
}

#title-services h2 {
    margin-bottom: 5px
}

#subtitle-services,#subtitle-works {
    font-size: 16px;
    font-weight: 300;
    text-align: center
}

#about-info-portfolio {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -20px;
    margin-top: 30px
}

#about-me-portfolio p {
    font-family: 'Muli',sans-serif;
    line-height: 1.8;
    font-size: 16px;
    color: #7e7e7e;
    text-align: justify
}

.menu-info {
    padding: 0 20px;
    margin-bottom: 30px;
    min-width: 33%;
    font-size: 15px
}

.menu-info i {
    color: var(--main-color);
    margin-right: 5px
}

.social-media,.social-media a {
    font-size: 16px;
    border-radius: 50%
}

.social-media {
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 7px;
    border: 1px solid var(--light-white)
}

.social-media a {
    width: 100%;
    height: 100%;
    color: var(--black);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

#button-main-portfolio a,.social-media a:hover {
    background-color: var(--main-color);
    color: var(--white)
}

#cnt-about-skills {
    font-family: 'Muli',sans-serif;
    color: #343434;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: block
}

.skill-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#services-portfolio-wrapper,.data-skill,.skill-wrapper,.social-media a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.data-skill {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.data-skill h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px
}

.skill {
    width: 100%;
    padding: 2px;
    background-color: var(--light-white);
    position: relative
}

.progress {
    position: absolute;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: 0
}

#services-portfolio-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#services-portfolio-wrapper,#works-portfolio-wrapper {
    width: 100%;
    font-family: 'Muli',sans-serif
}

#services-portfolio-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.services-info-portfolio {
    margin-top: 50px
}

.cnt-services-info-portfolio,.cnt-services-info-portfolio i {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.cnt-services-info-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
    border-radius: 0;
    height: 100%
}

.cnt-services-info-portfolio:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.25)
}

.cnt-services-info-portfolio i {
    font-size: 40px;
    margin-bottom: 0;
    border: 1px solid var(--main-color);
    height: 90px;
    background: var(--main-color);
    width: 90px;
    border-radius: 50%;
    color: var(--white)
}

.cnt-services-info-portfolio i::before {
    width: auto!important
}

.cnt-services-info-portfolio h2 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 900;
    margin: 20px 0;
    color: #333
}

.cnt-services-info-portfolio p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    color: #767676
}

#nav-works-portfolio,.cnt-services-info-portfolio i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.nav-works-items {
    padding-bottom: 8px;
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.active-w,.nav-works-items:hover {
    border-bottom: 2px solid var(--main-color)
}

#works-portfolio-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

#works-portfolio-explame-cnt,#works-portfolio-wrapper,figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#works-portfolio-explame-cnt {
    margin-top: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.works-portfolio-explame-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0;
    display: block
}

.works-portfolio-explame {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    position: relative
}

#contact-portfolio-wrapper img,.works-portfolio-explame img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.works-portfolio-explame:hover figcaption {
    opacity: 1
}

.works-portfolio-explame:hover {
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.55);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.55)
}

.works-portfolio-explame:hover .shadow-img-portfolio {
    background: rgba(0,0,0,.9)
}

.works-portfolio-explame:hover figcaption h2,.works-portfolio-explame:hover figcaption p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    font-family: 'Nunito Sans',sans-serif
}

.works-portfolio-explame,figcaption,figcaption h2,figcaption p {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

figcaption h2 {
    color: var(--main-color);
    font-weight: 700;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px)
}

figcaption p {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
}

#cnt-main-contact {
    font-family: 'Muli',sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 50px
}

#contact-info-portfolio .menu-info,#description-contact-portfolio,figcaption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#description-contact-portfolio {
    border: 2px solid var(--main-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px 10px
}

#contact-info-portfolio .menu-info {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px
}

#contact-info-portfolio .menu-info i {
    margin-bottom: 10px;
    font-size: 28px
}

#contact-info-portfolio .menu-info p {
    font-weight: 700;
    font-size: 16px
}

#contact-info-portfolio .menu-info span {
    font-size: 16px
}

#social-media-contact-portfolio {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#social-media-contact-portfolio .social-media a,figcaption {
    color: var(--white)
}

#social-media-contact-portfolio .social-media {
    border: 1px solid transparent
}

#contact-portfolio {
    z-index: 5;
    color: var(--white)
}

#contact-portfolio .row {
    padding: 0 15px
}

#contact-portfolio-wrapper,#main-data,.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#contact-portfolio-wrapper {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#contact-portfolio-wrapper img {
    -webkit-filter: contrast(120%) grayscale(100%);
    filter: contrast(120%) grayscale(100%);
    position: absolute
}

#main-data,.box {
    padding: 0
}

.box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#main-data input:first-child {
    margin-right: 6px
}

#main-data input:last-child {
    margin-left: 6px
}

input {
    padding: 10px!important;
    height: 45px
}

input,textarea {
    background-color: transparent;
    color: var(--form);
    border: 0;
    border-bottom: 2px solid var(--form);
    font-size: 13px;
    outline: 0;
    margin: 15px 0;
    float: left
}

input:focus,textarea:focus {
    color: var(--form);
    border-color: var(--main-color)
}

textarea {
    padding: 10px!important;
    height: 145px
}

#send {
    width: 100%;
    height: auto
}

#wyslij,footer {
    text-transform: uppercase
}

#wyslij,#wyslij:hover {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#wyslij {
    width: 141px;
    right: 0;
    margin-top: 20px;
    float: right;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    max-width: 185px;
    display: block
}

#wyslij:hover {
    background-color: transparent;
    cursor: pointer
}

footer {
    padding: 0 50px 50px;
    z-index: 100;
    letter-spacing: .5px;
    font-weight: 300
}

#scrollup,#wyslij,footer p {
    color: var(--white);
    text-align: center
}

footer p {
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    font-family: 'Muli',sans-serif
}

footer .row {
    margin-left: 0;
    margin-right: 0
}

#scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    position: fixed;
    bottom: 30px;
    right: 13px;
    line-height: 40px;
    cursor: pointer;
    z-index: 10000;
    background: var(--main-color);
    display: none
}

.icon-up-open::before {
    line-height: unset!important
}

.menu-bg {
    padding-top: 13px!important;
    padding-bottom: 8px!important;
    background: var(--white)!important;
    -webkit-box-shadow: 0 0 18px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 18px 1px rgba(0,0,0,.1);
    border-bottom: 1px solid var(--light-white)
}

.menu-bg .navbar-toggler i,.menu-bg a {
    color: var(--black)!important
}

.menu-bg #nav-header-portfolio {
    background: 0 0
}

.active a {
    color: var(--main-color)!important
}

.navbar-toggler {
    outline: 0!important;
    border: 0
}

.navbar-toggler i {
    color: var(--white);
    line-height: 1.5
}

.animate-el-hidden {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.animate-el {
    -webkit-transform: translateY(0)!important;
    -ms-transform: translateY(0)!important;
    transform: translateY(0)!important;
    opacity: 1!important
}

#preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#animation-status,#animation-status-top {
    width: 65px;
    height: 65px;
    border: 4px solid #c30000;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner 1000ms infinite linear;
    animation: spinner 1000ms infinite linear;
    position: absolute
}

#animation-status {
    width: 45px;
    height: 45px;
    border: 3px solid #c30000;
    -webkit-animation: spinner-backwards 1000ms infinite linear;
    animation: spinner-backwards 1000ms infinite linear
}

#ads,#ads_bottom_static,#google_esf,#google_shimpl,.spolecznoscinet,[name=google_osd_static_frame],ins {
    display: none!important
}

::-webkit-input-placeholder {
    color: #b3b3b3;
    opacity: 1
}

::-moz-placeholder {
    color: #b3b3b3;
    opacity: 1
}

:-ms-input-placeholder,::-ms-input-placeholder {
    opacity: 1
}

::placeholder {
    color: #b3b3b3;
    opacity: 1
}

:-ms-input-placeholder,::-ms-input-placeholder {
    color: #b3b3b3
}